<?xml version="1.0" encoding="UTF-8" ?>
<!--
    log4j2版本不再像支持1.X中的properties后缀的文件配置方式，该版本配置文件后缀名只支持 .xml .json .jsn
    系统选择配置文件的优先级(从先到后)如下:
    .classpath下的名为log4j2-test.json 或者log4j2-test.jsn的文件.
    .classpath下的名为log4j2-test.xml的文件.
    .classpath下名为log4j2.json 或者log4j2.jsn的文件.
    .classpath下名为log4j2.xml的文件.
    我们一般默认使用log4j2.xml进行命名。如果本地要测试，可以把log4j2-test.xml放到classpath，而正式环境使用log4j2.xml，则在打包部署的时候不要打包log4j2-test.xml即可。
 -->
<Configuration status="INFO">
    <Appenders>
        <Console name="Console"  target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
<!--
    配置文件解析
    （1）根节点Configuration有两个属性，status和monitorinterval,有两个子节点 Appenders 和Loggers（表明可以定义多个Appender和Logger）
       status用来指定本身的打印日志级别
       monitorinterval用于指定log4j自动重新配置的监测间隔时间，单位是s,最小是5s.



-->